.PNLForCoaches__container{
    background-color: #000000;
    padding: 40px 0px;
}

.PNLForCoaches__container-title{
    border-radius: 25px;
    margin: 5px 20px;
    padding: 15px 10px 2px 10px;
    background: #dbdbdb;
    background: linear-gradient(90deg,#dbdbdb 0%, #dfdfdf 80%);
    background: -webkit-linear-gradient(90deg,#dbdbdb 0%, #dfdfdf 80%);
    background: -moz-linear-gradient(90deg,#dbdbdb 0%, #dfdfdf 80%);
}

.PNLForCoaches__title{
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: black;
}

.PNLForCoaches__subtitle{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    padding: 15px 40px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 711;
    color: white;
}

.PNLForCoaches__container-text{
    padding: 0px 35px;
}

.PNLForCoaches__text{
    font-family: 'Cooper Hewitt', sans-serif;
    color: white;
    text-align: justify;
    font-weight: 705;
    margin-bottom: 25px;
}

.PNLForCoaches__text-b{
    font-weight: 709;
}

@media (min-width: 375px){
    .PNLForCoaches__subtitle{
        padding: 15px 30px;
        font-size: 16px;
    }
}

@media (min-width: 768px){
    .PNLForCoaches__text{
        font-size: 20px;
    }
    .PNLForCoaches__subtitle{
        font-size: 20px;
    }
    .PNLForCoaches__title{
        font-size: 40px;
    }
}

@media (min-width: 1024px){
    .PNLForCoaches__container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .PNLForCoaches__subContainer{
        max-width: 800px;
    }
}