.pnlOrigins__container{
    background: #dbdbdb;
    background: linear-gradient(90deg,#dbdbdb 0%, #dfdfdf 80%);
    background: -webkit-linear-gradient(90deg,#dbdbdb 0%, #dfdfdf 80%);
    background: -moz-linear-gradient(90deg,#dbdbdb 0%, #dfdfdf 80%);
    padding: 50px 20px;;
}

.pnlOrigins__title{
    font-family: 'League Spartan', sans-serif;
    color: #060503;
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
    margin-top: 20px;
    margin-bottom: 20px;
}

.pnlOrigins__text{
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 18px;
    font-weight: 705;
    text-align: justify;
}

.pnlOrigins__text-b{
    font-weight: 709;
}

.pnlOrigins__image{
    width: 100%;
    height: auto;
}

@media (min-width: 375px) {
    .pnlOrigins__title{
        font-size: 44px;
    }
}