.whyHim{
    padding: 50px 25px;
    background-color: #F9F9F9;
}

.whyHim__title{
    font-family: 'League Spartan', sans-serif;
    color: #060503;
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
    margin-top: 20px;
    margin-bottom: 30px;
}

.whyHim__description{
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 18px;
    font-weight: 705;
    text-align: justify;
    margin-bottom: 15px;
    padding: 2px;
}

.whyHim__image{
    width: 100%;
    height: auto;
    margin-bottom: 35px;
}